/* QuizPage.css */
.pastel-rainbow {
  border-radius: 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: linear-gradient(90deg, 
    #ff9a9e 0%, 
    #fad0c4 25%, 
    #fad0c4 50%, 
    #fbc2eb 50%, 
    #a18cd1 75%, 
    #a18cd1 100%);
}

.pastel-rainbow::-webkit-slider-runnable-track {
  height: 0px;
  border-radius: 8px;
  background: linear-gradient(90deg, 
    white 0%,
    white 25%,
    white 50%,
    white 75%,
    white 100%);
    z-index: 0;
}

.pastel-rainbow::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: #a18cd1 2px solid;
  margin-top: -10px; /* Center the thumb */
}

.pastel-rainbow::-moz-range-track {
  height: 8px;
  border-radius: 8px;
  background: linear-gradient(90deg, 
    #ff9a9e 0%, 
    #fad0c4 25%, 
    #fad0c4 50%, 
    #fbc2eb 50%, 
    #a18cd1 75%, 
    #a18cd1 100%);
}

.pastel-rainbow::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.styled-big-radio-l input[type='radio'] {
  display: none;
}

.styled-big-radio-l span {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #8aeb9f; /* Change this to your desired border color */
}

.styled-big-radio-l input[type='radio']:checked + span {
  background: #8aeb9f; /* Change this to your desired color when selected */
}

.styled-medium-radio-l input[type='radio'] {
  display: none;
}

.styled-medium-radio-l span {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #8aeb9f; /* Change this to your desired border color */
}

.styled-medium-radio-l input[type='radio']:checked + span {
  background: #8aeb9f; /* Change this to your desired color when selected */
}

.styled-small-radio input[type='radio'] {
  display: none;
}

.styled-small-radio span {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #bfb9c4; /* Change this to your desired border color */
}

.styled-small-radio input[type='radio']:checked + span {
  background: #bfb9c4; /* Change this to your desired color when selected */
}

.styled-big-radio-r input[type='radio'] {
  display: none;
}

.styled-big-radio-r span {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #b1d6f2; /* Change this to your desired border color */
}

.styled-big-radio-r input[type='radio']:checked + span {
  background: #b1d6f2; /* Change this to your desired color when selected */
}

.styled-medium-radio-r input[type='radio'] {
  display: none;
}

.styled-medium-radio-r span {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #b1d6f2; /* Change this to your desired border color */
}

.styled-medium-radio-r input[type='radio']:checked + span {
  background: #b1d6f2; /* Change this to your desired color when selected */
}